.advantages {
    margin-bottom: 70px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
}

.advantages__list-item {
    background: var(--white);
    border-radius: 25px;
    max-width: 276px;
    padding: 40px 42px 32px 45px;
}

.advantages__item-image {
    margin-bottom: 10px;
}

.advantages__description {
    line-height: 200%;
}
