.hero {
    margin-bottom: 70px;
}

.hero__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
}

.hero__list-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 40px 108px 36px 45px;
}

.hero__list-item:nth-of-type(1) {
    background-image: url("../../images/hero/img_one.jpg");
    grid-column: 1;
    grid-row: 1;
}

.hero__list-item:nth-of-type(2) {
    background-image: url("../../images/hero/img_two.jpg");
    grid-column: 1;
    grid-row: 2;
}

.hero__list-item:nth-of-type(3) {
    background-image: url("../../images/hero/img_three.jpg");
    grid-column: 2;
    grid-row: span 2;
    padding: 212px 229px 38px 45px;
}

.hero__item-title {
    font-size: 40px;
    line-height: 1;
    color: var(--white);
    margin-bottom: 14px;
}

.hero__list-item:last-child .hero__item-title {
    font-size: 60px;
}

.hero__item-price {
    display: block;
    font-size: 20px;
    color: var(--white-800);
    margin-bottom: 42px;
}

.hero__list-item:last-child .hero__item-price {
    font-size: 30px;
}

.hero__item-link {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-primary);
}

.hero__item-link_icon {
    width: 10px;
    height: 17px;
}
